<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitclub">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_muscle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppAutentification"
            />

        <activity
            android:name=".Activities.ClientDataActivity"
            android:label="@string/title_activity_personal_cabinet"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.FitnessAPIActivity"
            android:label="@string/title_activity_fitness_api"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.CoachInfoActivity"
            android:label="@string/title_activity_coach_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TrainingListActivity"
            android:label="@string/title_activity_main_caption"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Activities.StartActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.TrainingInfoActivity"
            android:label="@string/title_activity_training_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.MainActivity_old" />
        <activity
            android:name=".Activities.MyFavouriteTrainingActivity"
            android:label="@string/title_activity_my_favourite_training_caption"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".Volley.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
      See README(https://goo.gl/l4GJaQ) for more. -->
        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_icon"-->
            <!--android:resource="@drawable/ic_muscle" />-->


    </application>

</manifest>